@font-face {
  font-family: "Exo2";
  src: url("/fonts/Exo2-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("/fonts/Exo2-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("/fonts/Exo2-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
